<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">Style Secret</h4>
          <p class="text-muted">todoを達成してポイントを貯めよう！</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Link</h4>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white"><i style="color: aliceblue;" class="fas fa-cart-plus"></i> ショップ</a></li>
            <li><a href="#" class="text-white"><i style="color:aliceblue;" class="fa fa-cog"></i> ユーザー設定</a></li>
            <li><a href="/logout" class="text-white"><i style="color:aliceblue;" class="fas fa-sign-out-alt"></i>
                ログアウト</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="/home" class="navbar-brand d-flex align-items-center">
        <strong>Home</strong>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
        aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>