<footer class="text-muted">
  <div class="container">
    <ul class="float-right list-unstyled">
      <li><a href="#"> Back to top</a></li>
      <li><a href="/logout"> logout</a></li>
    </ul>
    <p>
      I didn't write much, so I wrote this sentence to make it look like it. </p>
    <p>Please do not read it as there is nothing in particular.&copy;yyc</p>
  </div>
</footer>